#songScreenWrapper {
    padding: 20px;
}

#songScreenNavButtonsWrapper {
    position: absolute;
    width: calc(100% - 40px);
    left: 20px;
    bottom: 20px;
    display: flex;
    justify-content: space-between;

    & > button {
        width: 200px;
        bottom: 20px;
    }
}

#songTitleHeader {
    padding-bottom: 20px;
}

span.chord {
    position: absolute;
    margin: -1rem 0 0 -0.5rem;
}